:root {
  --font-primary: "Poppins", sans-serif;
  --text-primary-color: rgb(41, 45, 50);
  --text-secondary-color: rgb(0, 0, 0);
  --text-side-menu: rgb(145, 151, 179);
  --text-accent-color: rgb(22, 192, 152);
  --text-labeles-color: rgb(181, 183, 192);

  --text-status-active: rgb(0, 135, 103);
  --text-status-inactive: rgb(223, 4, 4);

  --white-color: rgb(255, 255, 255);

  --bg-primary: rgb(250, 251, 255);
  --bg-accent: rgb(89, 50, 234);
  --bg-secondary: rgb(255, 255, 255);
  --bg-pagitation: rgb(245, 245, 245);
  --bg-input: rgb(249, 251, 255);

  --bg-status-active: rgba(22, 192, 152, 0.38);
  --bg-status-inactive: rgb(255, 197, 197);
}
